<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehículos por Categoría</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>

    <nav class="navbar">
        <div class="container">
            <ul class="navbar__menu">
                <li class="navbar__item active"><a href="/vehiculos/inicio" class="navbar__link">Inicio</a></li>
                <li class="navbar__item">
                    <a href="#" class="navbar__link">Sección Vehículos</a>
                    <div class="submenu">
                        <a href="/vehiculos/insertar" class="submenu__link">Insertar Vehículo</a>
                        <a href="/vehiculos/listar" class="submenu__link">Listar Vehículos</a>
                    </div>
                </li>
                <li class="navbar__item">
                    <a href="#" class="navbar__link">Sección Categorías</a>
                    <div class="submenu">
                        <a href="/categorias/insertar" class="submenu__link">Insertar Categoría</a>
                        <a href="/categorias/listar" class="submenu__link">Listar Categorías</a>
                    </div>
                </li>
            </ul>
            <form class="navbar__search-form" action="/vehiculos/listarPorModelo" method="POST">
                <input class="navbar__search-input" type="search" placeholder="Buscar por modelo"
                    aria-label="Buscar por modelo" name="modelo">
                <button class="navbar__search-button" type="submit">Buscar</button>
            </form>
            <form class="navbar__search-form" action="/vehiculos/listarPorAno" method="POST">
                <input class="navbar__search-input" type="search" placeholder="Buscar por año"
                    aria-label="Buscar por año" name="ano">
                <button class="navbar__search-button" type="submit">Buscar</button>
            </form>
        </div>
    </nav>

    <div class="content-container">
        <h2>Vehículos por Categoría</h2>
    </div>

    <div class="galeria">
        <div th:each="vehiculo : ${vehiculos}" class="vehiculo">
            <a th:href="@{'/vehiculos/detalles/' + ${vehiculo.idVehiculo}}">
                <figure>
                    <img th:src="@{/vehiculos/imagen/{imagen}(imagen=${vehiculo.imagen})}" alt="Imagen del vehículo">
                    <figcaption>
                        <p th:text="${vehiculo.marca} + ' ' + ${vehiculo.modelo}"></p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="/js/scripts.js"></script>

</body>

</html>
